.A {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(228, 228, 228, 0.5);
    padding: 2rem 1rem;
    text-align: center;
   }

   body {
    background-image: url('https://t4.ftcdn.net/jpg/04/92/39/11/360_F_492391117_bsAteaWt7I9gCAJY1Mt3QXXxdLXE2Nzq.jpg');
    background-size: cover;
    background-position: center;
  }