body {
    font-family: Arial, sans-serif;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBm1kpj83MmM9mw33PNg6q3IKeRNjIxrtYDZ8B9gwS1aj_2HM66Fg3PN7VjqLnBrXfZMw&usqp=CAU');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .login-container {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXVbRZkz0y2dxFKrs0HuMySShBwaqyUCysGA&s');
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
    color: black; 
}


  h2 {
    color: rgb(82, 78, 78);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-sizing: border-box;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 16px;
    color: #333; 
  }

  button {
    background-color: #47c64b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background-color: #45a049;
  }
